nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  
  color: #FFFFFF;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;

}

span {
  display: inline-block;
  padding: 10px;
  font-family: 'Bungee', sans-serif;
}