form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;
  outline: 0;
  background-color: transparent;
  border-width: 0 0 4px;
  border-color: #42484F;
  margin: 1.8em 0 0.8em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  color: #545149
}

button {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
}

.btn-counter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}
